@media(max-width: 880px){
    .logo{
        display: block;
        text-align: center;
    }

}

@media(max-width: 800px){

    .cabecalho{
        flex-direction: column;
    }

    .logo{
        display: block;
        padding-bottom: 10px;
    }
}

@media(max-width: 558px){
 
    .logo{
    display: block;
    text-align: center;
    width: 100%;
    }

    .menu{
        display: block;
        text-align: center;
    }

}